$font-size: 1rem;
$font-color: rgb(105, 40, 49);
$bg: rgb(0, 247, 161);

html {
  font-size: $font-size;
  color: $font-color;
}

body {
  padding: 50px;
    background: $bg;
}

p,li {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color: $font-color;
}

.add_button{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-radius: 12px;
  transition:  250ms ease-in-out;
  margin-left: 80px;
  margin-top: 20px;


  &:hover{
    cursor: pointer;
    background-color: aqua;
  }
  &:active{
    background-color: rgb(5, 98, 98);
  }
}

button {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-radius: 12px;
  transition:  250ms ease-in-out;
  margin-left: 80px;
  margin-top: 20px;


  &:hover{
    cursor: pointer;
    background-color: aqua;
  }
  &:active{
    background-color: rgb(5, 98, 98);
  }
}

input {
  
  font-size: 26px;
  height: 30px;
  border-radius: 10px;
}

 

li {
  width: 250px;
  // background-color: antiquewhite;
  // border-radius: 10px;
  // border: solid 1px black;
  margin-top: 5px;
  padding-left: 15px;
}
 

 
.add_wrapper{
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}

.test_card {
  
  margin-top: 50px;
  margin: 0 auto;
  padding: 15px;
  width: 600px;
  height: 1000px;
  background: aliceblue;
  border-radius: 20px;
}

.button_wrapper{
  display: flex;
  flex-direction: column;
 

}

#form{
  display: flex;
  flex-direction: column;
}
.pairs_list_wrapper{
   
  border-radius: 20px;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255);
}

.list_wrapper{
  display: flex;
}

.list_title{
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}