
<div class="test_card">
  <h1>Test</h1>
  <div class="add_wrapper">
    
    <form id="form">
          <label class="list_title" >Name/Value Pair</label>
          <input type="text" 
                 pattern="[A-Za-z]{3}">
    </form>
    <input type="submit" class="button add_button" value="Add">
    <!-- <button type="submit" class="button add_button">Add</button> -->
  
  </div>

  <p class="list_title">Name/Value pair list</p>
    <div class="list_wrapper">
     
      <div class="pairs_list_wrapper">
        
        <ul class="pairs_list">
  
        </ul>
      </div>
      <div class="button_wrapper">
        <button class="sort_name" type="submit" data-clear="sort">Sort by Name</button>
        <button class="sort_value" type="submit" data-clear="sort">Sort by Value</button>
        <button type="submit" data-clear="clear">Delete</button>
        <button type="submit" data-clear="clear">Show as XML</button>
         
      </div>
    </div>
</div>